<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
  <title th:text="Login"></title>
</head>

<body>
<section layout:fragment="content">
  <br>
  <p class="lead mt-4">Sign in using the Companies House login system</p>
  <p class="lead mt-4"> The user profile journey simulates requesting the Read User Profile scope</p>
  <hr class="my-4">
  <br>
  <form th:action="@{/attemptLogin}">
    Enter company number: <input type="text" th:name="company"/>
    <br/><br/>
    <input type="checkbox" id="accountProfileRead" th:name="userDeleteProfile" value="https://account.companieshouse.gov.uk/user/profile.read">
    <label for="userWriteFull">https://account.companieshouse.gov.uk/user/profile.read</label><br>
    <input type="checkbox" id="identityProfileRead" th:name="userDeleteProfile" value="https://identity.company-information.service.gov.uk/user/profile.read">
    <label for="userWriteFull"> https://identity.company-information.service.gov.uk/user/profile.read</label><br>
    <input type="checkbox" id="userWriteFull" th:name="userWriteFull" value="https://identity.company-information.service.gov.uk/user.write-full">
    <label for="userWriteFull"> https://identity.company-information.service.gov.uk/user.write-full</label><br>
    <input type="checkbox" id="officerAddressUpdate" th:name="officerAddressUpdate" value="https://api.companieshouse.gov.uk/company/registered-office-address.update">
    <label for="userWriteFull"> https://api.companieshouse.gov.uk/company/registered-office-address.update</label><br>
    <input type="checkbox" id="adminWriteFull" th:name="adminWriteFull" value="https://api.companieshouse.gov.uk/company/admin.write-full">
    <label for="userWriteFull"> https://api.companieshouse.gov.uk/company/admin.write-full</label><br>
    <input type="checkbox" id="userUpdateProfile" th:name="userUpdateProfile" value="http://identity.company-information.service.gov.uk/user/profile.update">
    <label for="userWriteFull"> http://identity.company-information.service.gov.uk/user/profile.update</label><br>
    <input type="checkbox" id="userDeleteProfile" th:name="userDeleteProfile" value="http://identity.company-information.service.gov.uk/user/profile.delete">
    <label for="userWriteFull"> http://identity.company-information.service.gov.uk/user/profile.delete</label><br>
    <input class="btn btn-success btn-lg mb-2 mb-md-0 mr-md-4" type="submit" value="User Profile Sign In"/>
<!--    <a class="btn btn-success btn-lg mb-2 mb-md-0 mr-md-4" href="/attemptLogin" role="button">User-->
<!--      Profile Sign In</a>-->
<!--    <br>-->
  </form>
  <br>

<!--  <br>-->
<!--  <a class="btn btn-success btn-lg" href="/loginViaRequestedScope" role="button">Requested Scope-->
<!--    Sign In</a>-->
</section>
</body>
</html>

